---
import Layout from "@/layouts/Layout.astro";
import DashBoardLayout from "@/layouts/DashboardLayout.astro";
import LoadedFileSelector from "@/features/file-management/components/LoadedFileSelector.astro";
import FlowStep from "@/shared/components/FlowStep.astro";
import { sc } from "@/shared/utils/sc";
const fileId = Astro.url.searchParams.get("fileId");
const fileName = Astro.url.searchParams.get("fileName");

const stylesOptions = [
  {
    value: "default",
    label: "🪄 Que la IA decida",
  },
  { value: "minimalista", label: "🍦 Minimalista" },
  { value: "academico", label: "📚 Académico" },
  { value: "ejecutivo", label: "💼 Ejecutivo" },
  { value: "investigador", label: "🔬 Investigador" },
];
---

<Layout title="Generador | Klay">
  <DashBoardLayout contentClass="pt-8">
    <div class="p-10 w-full text-gray-200">
      <div>
        <span
          class="block text-gray-200 mb-2 font-bold text-2xl px-4 pb-2 w-full"
          >Generar nuevo MindMap</span
        >
        <span
          class="block text-gray-200 mb-2 font-semibold text-sm px-4 pb-2 w-full border-b border-gray-700"
          >Flujo para crear un nuevo MindMap</span
        >
        <div class="flex flex-col gap-4 border-l-4 border-cyan-600 pl-5 mt-8">
          <FlowStep title="📄 Selecciona un PDF">
            <div class="">
              <form
                data-file-id={fileId}
                id="file-options"
                class="flex gap-2 mb-2 text-sm"
              >
                <label class="w-full">
                  <input
                    type="radio"
                    name="file:options"
                    value="upload"
                    class="hidden peer"
                    checked={fileId === null}
                  />
                  <span
                    class="block p-2 text-center border border-gray-700 peer-checked:border-gray-700/80 hover:bg-gray-700 rounded-lg peer-checked:bg-gray-600"
                  >
                    <i
                      class="bx bx-arrow-from-bottom-stroke mr-2 my-auto align-middle"
                    ></i> Cargar PDF
                  </span>
                </label>
                <label class="w-full">
                  <input
                    type="radio"
                    name="file:options"
                    value="library"
                    class="hidden peer"
                    checked={fileId !== null}
                  />
                  <span
                    class="block p-2 text-center border border-gray-700 peer-checked:border-gray-700/80 hover:bg-gray-700 rounded-lg peer-checked:bg-gray-600"
                  >
                    <i
                      class="bx bx-arrow-from-top-stroke mr-2 my-auto align-middle"
                    ></i>Seleccionar PDF de la biblioteca
                  </span>
                </label>
              </form>
              <div>
                <LoadedFileSelector
                  id="option:upload"
                  class={sc(fileId ? "hidden" : "")}
                />
                <a
                  id="option:library"
                  href="/knowledge/files?mode=select"
                  class={sc(
                    "block w-full p-4 hover:bg-gray-700/50 rounded-lg overflow-hidden text-ellipsis whitespace-nowrap cursor-pointer ",
                    fileId ? "" : "hidden"
                  )}
                  ><i class="bx bx-book-library mr-2 my-auto align-middle"></i>{
                    fileId !== null
                      ? fileName
                      : "Seleccionar PDF de la biblioteca"
                  }</a
                >
              </div>
            </div>
          </FlowStep>
          <FlowStep
            title="🤔 Elige el estilo de pensamiento"
            help="El estilo de pensamiento cambiara la forma en que la IA crea el MindMap"
          >
            <form
              id="style-options"
              class="flex flex-wrap justify-center gap-2 p-2"
            >
              {
                stylesOptions.map((style) => (
                  <label class="cursor-pointer">
                    <input
                      type="radio"
                      name="style"
                      value={style.value}
                      class="hidden peer"
                      checked={style.value === "default"}
                    />
                    <span class="block px-4 py-2 bg-gray-600/50 border border-transparent peer-checked:border-gray-700  hover:bg-gray-600 rounded-lg peer-checked:bg-gray-600">
                      {style.label}
                    </span>
                  </label>
                ))
              }
            </form>
          </FlowStep>
          <FlowStep
            title="💬 Introduce una consulta"
            help="Esto ayudara a la IA a entender el contexto del MindMap"
          >
            <input
              id="query"
              class="w-full p-2 border border-gray-500 rounded-lg outline-none focus:outline-none focus:border-gray-600"
              type="text"
            />
          </FlowStep>
          <FlowStep>
            <!-- <a
              id="generate"
              href="/editor?start-stream=true"
              class="bg-gray-700/50 hover:bg-gray-700 p-4 rounded-lg whitespace-nowrap text-center"
            >
              <i class="bx bx-sparkles-alt mr-2 align-middle text-xl"></i> Generar
              MindMap
            </a> -->

            <button
              id="generate"
              class="bg-gray-700/50 hover:bg-gray-700 p-4 rounded-lg whitespace-nowrap text-center"
            >
              <i class="bx bx-sparkles-alt mr-2 align-middle text-xl"></i> Generar
              MindMap
            </button>
          </FlowStep>
        </div>
      </div>
    </div>
  </DashBoardLayout>
</Layout>

<script>
  import {
    fileStore,
    setFiles,
    setStagedFiles,
  } from "@/features/file-management/stores/files";
  import { queryStore } from "@/features/mindmap-management/stores/query";
  import type { IndexFile } from "@/features/file-management/stores/files";
  const params = new URLSearchParams(window.location.search);
  const fileId = params.get("fileId");
  const fileName = params.get("fileName");

  if (fileId && fileName) {
    setFiles({
      [fileId]: {
        id: fileId,
        name: fileName,
      },
    });
    setStagedFiles([fileId]);
  }
  const fileOptions = document.getElementById(
    "file-options"
  ) as HTMLFormElement;
  const generateBtn = document.getElementById("generate") as HTMLButtonElement;
  const optionUpload = document.getElementById(
    "option:upload"
  ) as HTMLFormElement;
  const optionLibrary = document.getElementById(
    "option:library"
  ) as HTMLFormElement;
  const styleOptions = document.getElementById(
    "style-options"
  ) as HTMLFormElement;
  const query = document.getElementById("query") as HTMLInputElement;

  const onChangeFileOptions = (e: Event) => {
    // TODO:  The right file index must be selected between upload and library
    const target = e.currentTarget as HTMLFormElement;
    console.log(target);
    const fileOption = target.querySelector(
      'input[name="file:options"]:checked'
    ) as HTMLInputElement;
    console.log(fileOption.value);
    if (fileOption.value === "library") {
      optionUpload.classList.add("hidden");
      optionLibrary.classList.remove("hidden");
    } else {
      optionUpload.classList.remove("hidden");
      optionLibrary.classList.add("hidden");
    }
  };
  const onChangeStyleOptions = (e: Event) => {
    const target = e.currentTarget as HTMLFormElement;
    const styleOption = target.querySelector(
      'input[name="style"]:checked'
    ) as HTMLInputElement;
    queryStore.set({
      query: queryStore.get().query,
      style: styleOption.value,
    });
  };
  const onChangeQuery = (e: Event) => {
    const target = e.currentTarget as HTMLInputElement;
    queryStore.set({
      query: target.value,
      style: queryStore.get().style,
    });
  };
  const generateMindmap = async () => {
    const formData = new FormData();
    const fileIndex: IndexFile = fileStore.get();
    console.log(fileIndex);
    let body: any = JSON.stringify({ fileId: fileIndex.stagedIndexes[0] });
    let headers: any = { "Content-Type": "application/json" };
    const file = fileIndex.files[fileIndex.stagedIndexes[0]];
    if (!file) {
      window.alert("No se selecciono ningun archivo");
      return;
    }
    if (file instanceof File) {
      formData.append("file", file);
      formData.append("id", fileIndex.stagedIndexes[0]);
      formData.append("chunkingStrategy", "fixed");
      body = formData;
      headers = {};
    }
    const res = await fetch(`/api/knowledge/${crypto.randomUUID()}`, {
      method: "POST",
      body,
      headers,
    });
    const data = await res.json();
    console.log({ data });
    if (res.ok) {
      // window.location.reload();
    }
  };
  const onPageLoad = () => {
    queryStore.subscribe((value) => {
      console.log(value);
    });

    // const generateMindmapStream = async () => {
    //   const fileIndex: IndexFile = fileStore.get();
    //   let body: any = JSON.stringify({ fileId: fileIndex.stagedIndexes[0] });
    //   let headers: any = { "Content-Type": "application/json" };
    //   const response = await fetch(
    //     `/api/mindmaps/stream/${crypto.randomUUID()}`,
    //     {
    //       method: "POST",
    //       headers,
    //       body,
    //     }
    //   );
    //   if (!response.body) {
    //     return;
    //   }
    //   const reader = response.body.getReader();
    //   const decoder = new TextDecoder();
    //   if (response.ok) {
    //     while (true) {
    //       const { done, value } = await reader.read();
    //       if (done) break;
    //       const data = decoder.decode(value, { stream: true });
    //       // console.log(JSON.parse(data));
    //       console.log(data);
    //     }
    //   }
    // };

    generateBtn.addEventListener("click", generateMindmap);
    fileOptions && fileOptions.addEventListener("change", onChangeFileOptions);
    styleOptions &&
      styleOptions.addEventListener("change", onChangeStyleOptions);
    query && query.addEventListener("change", onChangeQuery);
  };

  document.addEventListener("astro:page-load", onPageLoad);
  document.addEventListener("astro:page-unload", () => {
    fileOptions &&
      fileOptions.removeEventListener("change", onChangeFileOptions);
    styleOptions &&
      styleOptions.removeEventListener("change", onChangeStyleOptions);
    query && query.removeEventListener("change", onChangeQuery);
  });
</script>
