---
import { sc } from "@/shared/utils/sc";
const { isActive, href, label, classIcon, title } = Astro.props;
---

<li
  data-nav-item={href}
  data-is-active={isActive}
  class={sc(
    "bg-slate-700/20 rounded-lg hover:bg-slate-700/60",
    "transition-all font-semibold cursor-pointer ",
    isActive && "bg-slate-700/80"
  )}
  title={title}
>
  <a href={href} class="block px-4 py-2 max-w-[200px] overflow-hidden text-ellipsis whitespace-nowrap">
    <i class={sc("mr-4 align-middle", classIcon)}></i>{label}
  </a>
</li>

<script>
  function updateNavigation() {
    const navItems = document.querySelectorAll("[data-nav-item]");
    navItems.forEach((item) => {
      const isActive = item.getAttribute("data-is-active") === "true";
      item.classList.toggle("bg-slate-700/80", isActive);
      item.classList.toggle("bg-slate-700/20", !isActive);
    });
  }
  document.addEventListener("astro:page-load", updateNavigation);
  if (document.readyState === "loading") {
    document.addEventListener("DOMContentLoaded", updateNavigation);
  } else {
    updateNavigation();
  }
</script>
