---
import Layout from "../layouts/Layout.astro";
import DashBoardLayout from "../layouts/DashboardLayout.astro";
import FileSelector from "../components/FileSelector.astro";
import { sc } from "../utils/sc";
import TimeAgo from "javascript-time-ago";
import es from "javascript-time-ago/locale/es";
TimeAgo.addLocale(es);
const timeAgo = new TimeAgo("es-ES");
const res = await fetch(new URL("/api/file", Astro.url));
const files = await res.json();
---

<Layout title="Archivos | MindMapAI">
  <DashBoardLayout>
    <div class="bg-gray-800 p-6 rounded-lg border border-gray-700">
      <span class="block text-gray-200 mb-2 font-bold text-lg px-4 pb-2 w-full"
        >Agregar archivo</span
      >
      <span
        class="block text-gray-200 mb-2 font-semibold text-sm px-4 pb-2 w-full border-b border-gray-700"
        >Agrega un nuevo archivo PDF a la biblioteca</span
      >
      <FileSelector uploadEndpoint={"/api/file"} />
    </div>
    <div
      class={sc(
        "text-gray-200 p-6 bg-gray-800 border border-gray-700 rounded-lg",
        files.length === 0 && "hidden"
      )}
    >
      <ul class="w-full flex flex-wrap table" id="files">
        {
          [
            <li class=" font-bold text-xl table-row ">
              <span class="p-4 w-full font-[500] overflow-hidden text-ellipsis table-cell">
                Nombre
              </span>
              <span class="p-4 whitespace-nowrap table-cell">
                Ultima modificacion
              </span>
              <span class="p-4 whitespace-nowrap table-cell">Tamaño</span>
              <span class="p-4 whitespace-nowrap table-cell">Acciones</span>
            </li>,
            ...files.map((file: any) => (
              <li class="hover:bg-gray-700/50 transition-all table-row border rounded-lg">
                <span class="p-4 w-full font-[500] overflow-hidden text-ellipsis table-cell">
                  {file.name}
                </span>
                <span class="p-4 whitespace-nowrap table-cell">
                  {timeAgo.format(file.lastModified)}
                </span>
                <span class="p-4 whitespace-nowrap table-cell">
                  {new Intl.NumberFormat("es-ES", {
                    style: "unit",
                    unit: "kilobyte",
                  }).format(Math.round(file.size / 1024))}
                </span>
                <div class="flex gap-1 text-lg p-4">
                  <button
                    class="h-fit rounded-lg bx bx-file-detail text-gray-500 p-2 hover:bg-gray-500/50 transition-all"
                    name="detail"
                    id={file.id}
                    title="Ver Detalles"
                  />
                  <button
                    class="h-fit rounded-lg bx bx-edit text-gray-500 p-2 hover:bg-gray-500/50 transition-all"
                    name="edit"
                    id={file.id}
                    title="Editar Nombre"
                  />
                  <button
                    id={file.id}
                    name="delete"
                    class="h-fit bx bx-trash text-red-500 p-2 rounded-lg hover:bg-red-500/50 transition-all table-cell"
                    title="Eliminar"
                  />
                </div>
              </li>
            )),
          ]
        }
      </ul>
    </div>
    <span
      class={sc(
        "block text-gray-200 font-semibold text-2xl px-4 w-full mt-6 text-center",
        files.length > 0 && "hidden"
      )}>Aun no tienes ningun archivo.</span
    >
  </DashBoardLayout>
</Layout>

<script>
  const deleteFile = async (id: string) => {
    const res = await fetch(`/api/file/${id}`, {
      method: "DELETE",
    });
    if (res.ok) {
      window.location.reload();
    }
  };

  document.addEventListener("click", (e) => {
    if ((e.target as HTMLButtonElement).name === "delete") {
      deleteFile((e.target as HTMLButtonElement).id);
    }
  });
  document.querySelectorAll("button[name='delete']").forEach((button) => {
    button.addEventListener("click", (e) => {
      const result = window.confirm(
        "Esta a punto de eliminar el archivo, esta seguro de continuar?"
      );
      if (result) {
        deleteFile((e.target as HTMLButtonElement).id);
      }
    });
  });
  const detailFile = async (id: string) => {
    const res = await fetch(`/api/file/${id}`, {
      method: "GET",
    });
    const file = await res.json();
    console.log({ file });
  };
  document.querySelectorAll("button[name='detail'").forEach((button) => {
    button.addEventListener("click", (e) => {
      detailFile((e.target as HTMLButtonElement).id);
    });
  });
</script>
